**/.idea/
course_slides/
course_materials/
Bayesian_examples/
*.asv
temp.*
**/New Folder/
course_homework/homework 1/2020_TakeHome01.pdf
course_homework/homework 2/2020_TakeHome02.pdf
course_homework/homework 3/2020_TakeHome03.pdf
course_homework/homework 3/graphical model.docx
